<!DOCTYPE html>
<html>
  <head>
    <title>Shon Sakuri</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <h1>Shon Sakuri</h1>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="about">
        <h2>About Me</h2>
        <p>I am a 16.6 year old developer from Israel. I have experience in Python, HTML, CSS, and JavaScript, and I am currently learning C++.</p>
      </section>
    </main>
  </body>
</html>
